* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.__icon {
  cursor: pointer;
  color: grey;
}

/* body {
  height: 100vh;
}

#app {
  height: 100%;
} */

.__container-outer {
  background-color: #26436f;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  --bs-gutter-x: 0rem;
}

.__container-inner {
  height: 100%;
  width: 100%;

  /* background-color: aliceblue; */
}

.__user-and-contacts {
  background-color: #ffffff;
  width: 30%;
  height: 100%;
}

.__receiver-and-chat {
  background-color: blue;
  width: 70%;
  height: 100%;
}

.__user,
.__active-item {
  height: 80px;
  background-color: #eaeaea;
}

.__user-img,
.__contact-image {
  height: 100%;
}

.__user-img img,
.__contact-image img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.__new-messages-and-alerts {
  height: 90px;
  background-color: #8edafc;
}

.__bell-icon {
  color: #8edafc;
  border-radius: 50%;
}

.__input-cerca {
  background-color: #fafafa;
}

.input-group-text {
  background-color: var(--bs-form-control-bg);
}

/* gestisco lo stile dei contatti */
.__contacts {
  overflow: auto;
  height: 400px;
  background-color: white;
}

.__last-msg {
  font-size: 0.8em;
  color: grey;
}

.__contact {
  border-top: 2px solid grey;
  cursor: pointer;
  height: 80px;
  background-color: white;
}

.__active {
  background-color: #e9ebee;
}

.active-item {
  height: 80px;
  overflow: auto;
}

.__last-access {
  font-size: 0.7em;
  color: grey;
}

/* stilizzo la chat */

.__actual-chat {
  /* max-height: inherit; */
  background-image: url(../img/mine.jpg);
  height: 492px;
  /* height: calc(100% - 132px); */
  overflow-y: auto;
  scroll-behavior: smooth;
}

.__msg-displayer {
  width: 40%;
}

.__sent {
  display: flex;
  justify-content: end;
}

/* box di visualizzazione messaggi */

.active-item {
  height: 100%;
}

.__received .__msg-displayer,
.__sent .__msg-displayer {
  border-radius: 15px;
  position: relative;
  color: rgb(91, 91, 91);
}

.__received .__msg-displayer {
  background-color: white;
}

.__sent .__msg-displayer {
  background-color: #d5f9ba;
}

/* .__msg-holder {
  position: relative;
} */

.__sent .__msg-displayer .__time-displayer,
.__received .__msg-displayer .__time-displayer {
  position: absolute;
  font-size: 0.7em;
  right: 3%;
  bottom: 3%;
  color: rgb(166, 166, 166);
}

.form-select {
  background-size: 15px 15px;
}

.__form-select {
  width: 0%;
}

.__form-select.__sent-fs,
.__form-select.__received-fs {
  position: absolute;
  right: 5%;
  top: 5%;
  border: none;
  cursor: pointer;
}

.__form-select.__sent-fs {
  background-color: #d5f9ba;
}

.__form-select .__option-slc {
  background-color: #0d0d0d;
  color: white;
}

/* box di visualizzazione messaggi */

/* input chat utente */
.__input-text-user-container {
  width: 100%;
  background-color: #eaeaea;
  height: 52px;
}

.__emojis,
.__record-audio {
  width: 10%;
  color: rgb(91, 91, 91);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* input chat utente */
