* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.__icon {
  cursor: pointer;
}

.__container-outer {
  background-color: #26436f;
  height: 100vh;
  padding-top: 100px;
}

main {
  height: 100%;
}

.container {
  --bs-gutter-x: 0rem;
}

.__container-inner {
  height: 95%;
  width: 100%;
  background-color: aliceblue;
}

.__user-and-contacts {
  height: 100%;
  background-color: red;
  width: 30%;
}

.__receiver-and-chat {
  height: 100%;
  background-color: blue;
  width: 70%;
}

.__user {
  height: 80px;
  background-color: #eaeaea;
}

.__user-img {
  height: 100%;
}

.__user-img img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
